{% load staticfiles %}
<!DOCTYPE html>
<html>

  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
  </head>

  <body>

    <div class="nav">
      <div class="container">
        <ul class="pull-left">
          <li><a href="{% url 'home' %}">Головна</a></li>
          <li><a href="{% url 'home' %}#produkcia">Продукція</a></li>
          <li><a href="{% url 'home' %}#pro_nas">Про нас</a></li>
          <li><a href="{% url 'home' %}#kontakti">Контакти</a></li>
        </ul>
      </div>
    </div>
    {% block content %}
    {% endblock %}
  </body>
</html>
