{% extends 'katalog/base.html' %}

{% block title %}Миючі та дезинфікуючі засоби ???{% endblock %}
{% block content %}
<div class="peighborhood-guides">
  <div class="container">
    <h2>Миючі та дезинфікуючі засоби ???</h2>
  </div>
</div>
<div class="learn-more">
  <div class="container">
  <div class="row">
{% for gig in gigiena %}
<div class="col-md-4">
  <div class="ppp">
  <h3><a href="{% url 'tovar_detail' pk=gig.pk %}">{{ gig.title }}</a></h3>
  <p>{{gig.zastosuvannya}}</p>
</div>
</div>
{% endfor %}
</div>
</div>
</div>
{% endblock %}
