{% load staticfiles %}
<!DOCTYPE html>
<html>

  <head>
    <title>Глобал Хім Україна</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
    <div class="nav">

      <div class="container">
        <ul class="pull-left">
          <li><a href="{% url 'home' %}">Головна</a></li>
          <li><a href="#produkcia">Продукція</a></li>
          <li><a href="#pro_nas">Про нас</a></li>
          <li><a href="#kontakti">Контакти</a></li>
        </ul>
      </div>

    </div>
    </nav>
    <div class="jumbotron">
      <div class="container">
        <h1>Глобал Хім Україна</h1>
        <p>Ми піклюємось про вашу репутацію</p>

      </div>
    </div>
    <div class="neighborhood-guides">
      <div class="container">
        <h2><a id="produkcia"></a>Миючі та дезинфікуючі засоби</h2>
        <p></p>
        <div class="row">
          <div class="col-md-6">
            <div class="thumbnail">
              <a href="/myaso/" ><img src="http://goo.gl/0sX3jq" ></a>
            </div>
            <div class="thumbnail">
              <a href="/gigiena/" ><img src="http://goo.gl/an2HXY" ></a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="thumbnail">
              <a href="/pivo/" ><img src="http://goo.gl/0sX3jq" ></a>
            </div>
            <div class="thumbnail">
              <a href="/moloko/" ><img src="http://goo.gl/an2HXY" ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
      </div>
      <div class="pro_nas">
        <div class="row">
          <div class="col-md-7">
            <hr class="section-heading-spacer"><a id="pro_nas"></a>
            <div class="clearfix"></div>

		<p> Дозвольте познайомити Вас з ДП «Глобал Хім Україна» &#8211; дочірнім підприємством компанії &#8211; виробника HungaroChemicals KFT (Угорщина), заснованого у 1995-ому році. Підприємство вже багато років працює на ринку гігієни харчової та пиво-безалкогольної промисловості України, та таких Європейських країн, як Угорщина, Сербія, Словаччина, Румунія. Завдяки високій якості та прийнятливим цінам в Угорщині ми займаємо перше місце на ринку. Всі наші засоби виробляються з західної сировини, в Угорщині, при строгих якісних умовах (ISO 9001, ISO 14001). Окрім цього всі наші дезінфікуючі засоби внесені у Державний Реєстр Міністерства Охорони Здоров’я України, та, разом з миючими засобами, мають необхідні висновки державної санітарно-епідеміологічної експертизи, сертифікати  та декларації відповідності.</p>
<p>Продукція при виробництві та використанні мінімально впливає на навколишнє середовище, після застосування  засоби розкладаються біологічним шляхом, тобто не порушують екологічний баланс середовища.</p>
<p>За нашою спиною також працює команда інженерів, яка виробляє та підбирає необхідні обладнання для дозування та використання миючих засобів.</p>
<p>За останні 8 років ми розширили штат працівників  до 100 чоловік. Крім того ми маємо спеціалістів на різних підприємствах не тільки Угорщини, а і країн Європи, які завжди готові нам допомогти у роботі своїми досвідами.</p>
<p>Ми допоможемо Вам піклуватися про якість Вашої продукції та Ваше ім’я!</p>
<p>З повагою:</p>
<p>Генеральний директор                                                              Виконавчий директор</p>
<p>ДП «Глобал Хім Україна»                                                        ДП «Глобал Хім Україна»</p>
<p>Іштван Крушинський                                                                 Андріана Кіш</p>
<p>&nbsp;</p>
          </div>
          <div class="col-md-4">
            <a href="http://globalchemua.com/wp-content/uploads/2012/11/tuv1.jpg"><img class="aligncenter size-full wp-image-116" title="tuv1" src="http://globalchemua.com/wp-content/uploads/2012/11/tuv1.jpg" alt="" width="364" height="574" /></a>
          </div>
        </div>
			</div>
      <div class="kontakti">
        <div class="row">
          <div class="col-md-7">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2637.785264366688!2d22.28926795069463!3d48.61395352573952!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473919b2abd31343%3A0xd1a9199c98c7e940!2z0JTQnyAi0JPQu9C-0LHQsNC7INCl0ZbQvCDQo9C60YDQsNGX0L3QsCI!5e0!3m2!1suk!2sua!4v1453835315534" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
          <div class="col-md-5">
            <hr class="section-heading-spacer"><a id="kontakti"></a>
            <div class="clearfix"></div>

		<h3>Контакти</h3>

		<p>88019 Ужгород<br />
пл. Кирила і Мефодія, 1/67<br />
тел./факс: (0312) 67-26-24, 61-76-29<br />
globalchem@utel.net.ua<br />

          </div>
        </div>
			</div>

            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="{% url 'home' %}">Головна</a>
                        </li>
                        <li class="footer-menu-divider">⋅</li>
                        <li>
                            <a href="#produkcia">Продукція</a>
                        </li>
                        <li class="footer-menu-divider">⋅</li>
                        <li>
                            <a href="#pro_nas">Про нас</a>
                        </li>
                        <li class="footer-menu-divider">⋅</li>
                        <li>
                            <a href="#kontakti">Контакти</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright © Глобал Хім Україна 1995-2016. All Rights Reserved</p>
                </div>
            </div>

  </body>
</html>
