<!DOCTYPE html>
{% load staticfiles %}

<html>
  <head>
    <title>Глобал Хім Україна</title>
    <link rel=”stylesheet” href=”{% static 'css/bootstrap.css' %}”>
    <link rel=”stylesheet” href=”{% static 'css/blog.css' %}”>
  </head>
  <body>
    <h1><a href="{% url 'home' %}">Глобал Хім Україна</a></h1>
    <div class="nav">
	    <div class="container">
	      <ul class="pull-left">
          <li><a href="{% url 'home' %}">Головна</a></li>
          <li><a href="{% url 'produkcia' %}">Продукція</a></li>
          <li><a href="{% url 'sertifikati' %}">Сертифікати</a></li>
          <li><a href="{% url 'pro_nas' %}">Про нас</a></li>
          <li><a href="{% url 'kontakti' %}">Контакти</a></li>
        </ul>
      </div>
    </div>
    <div class="jumbotron">
      <div class="container">
        <h1>Глобал Хім Україна</h1>
        <p>Ми піклюємось про вашу репутацію</p>
        <a href="#">Learn More</a>
      </div>
    </div>
  </body>
</html>
