
{% load staticfiles %}
<!DOCTYPE html>
<html>

  <head>
    <title>Чистячі та дезинфікуючі засоби для мясної промисловості</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
  </head>

  <body>
    <div class="nav">
      <div class="container">
        <ul class="pull-left">
          <li><a href="{% url 'home' %}">Головна</a></li>
          <li><a href="{% url 'produkcia' %}">Продукція</a></li>
          <li><a href="{% url 'sertifikati' %}">Сертифікати</a></li>
          <li><a href="{% url 'pro_nas' %}">Про нас</a></li>
          <li><a href="{% url 'kontakti' %}">Контакти</a></li>
        </ul>
      </div>
    </div>

  {% for myas in myaso %}
  <div>
    <h3><a href="{% url 'tovar_detail' pk=myas.pk %}">{{ myas.title }}</a></h3>
    <p>{{myas.zastosuvannya}}</p>
  </div>
  {% endfor %}


</body>
</html>
